.App {
  text-align: center;
  background-color: #225E77;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.App-logo {
  height: 40vmin;
}

.middle-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.height-90 {
  height: 95vh;
  position: relative;
}

.side-margins {
  margin-left: 200px;
  margin-right: 200px;
}

.info-icon {
  font-size: 50px !important;
}
.info-icon:hover {
  color: black;
  cursor: pointer;
}

.relative {
  position: relative;
}
.child {
  position: absolute;
  bottom: 0;
  right: 30px;
}

.interactivity {
  position: absolute;
  top: 50%;
  right: 10px;
  max-width: 160px;
  margin-top: -100px;
  font-size: 20px;
}
.interactivity2 {
  position: absolute;
  top: 30%;
  right: 10px;
  max-width: 160px;
  margin-top: -125px;
  font-size: 20px;
}

.chart-title {
  margin-top: 0px;
  margin-bottom: 5px;
}
.chart-title-reduced {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 27px;
}

.apexcharts-tooltip {
  color: black;
}
.apexcharts-tooltip-text-label {
  display: none;
}

.no-margin-top {
  margin-top: 0px;
}

a {
  color: rgb(0, 0, 0);
}
a:visited {
  color: rgb(0, 0, 0);
}

/* ----------------------- World Map ---------------------- */
.rsm-svg {
  max-height: 90vh;
  width: 100%;
  margin-top: -40px;
  margin-bottom: -40px;
}
.worldmap-legend {
  display: flex;
  flex-direction: row;
}
.worldmap-legend-gradient {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.worldmap-legend-number {
  margin-right: 15px;
  margin-left: 15px;
}

.rsm-geographies {
  height: 100%;
}

/* ----------------------- Arrow ---------------------- */
.arrow {
  text-align: center;
  color: white;
}
.arrow-icon:hover {
  cursor: pointer;
}
.arrow-icon {
  height: 40px !important;
  width: 40px !important;
}
.bounce {
  -moz-animation: bounce2 2s infinite;
  -webkit-animation: bounce2 2s infinite;
  -o-animation: bounce2 2s infinite;
  animation: bounce2 2s infinite !important;
}
@keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* ----------------------- Navbar ---------------------- */
.floating-nav {
  /* background-color: rgb(97, 187, 218); */
  color: white;
  padding: 5px;
  width: 50px;
  height: 720px;
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 30px;
  margin-top: -366px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.floating-nav-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid white 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  align-items: center;
}
.floating-nav-button:hover {
  cursor: pointer;
  border: solid green 2px;
  color: green;
}

.floating-nav-button-a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  border: solid green 2px;
  color: green;
}

/* ----------------------- Scatter Chart ---------------------- */
.arrow_box {
  position: relative;
  background: #fff;
  padding: 10px;
  border: 2px solid #000000;
  color: black;
}

.scatter-background {
  background-color: white;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.apexcharts-menu.open,
.exportSVG {
  color: black;
  text-align: center;
}

/* ----------------------- Dialog Title ---------------------- */
.MuiTypography-h6 {
  font-family: 'Roboto Condensed', sans-serif !important;
  font-size: calc(10px + 2vmin) !important;
  text-align: center;
}

.MuiDialog-paperWidthSm {
  max-width: 1700px !important;
}

.dialog-text {
  font-family: 'Roboto Condensed', sans-serif !important;
  font-size: calc(10px + 1vmin) !important;
  text-align: center;
  color: black !important;
}